[project]
	description = Random experiments/tests.
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/Karol Mroz (kmroz)
[access "refs/for/refs/*"]
	read = group user/Karol Mroz (kmroz)
	push = group user/Karol Mroz (kmroz)
	label-Code-Review = -2..+2 group user/Karol Mroz (kmroz)
	label-Verified = -1..+1 group user/Karol Mroz (kmroz)
	rebase = group user/Karol Mroz (kmroz)
	removeReviewer = group user/Karol Mroz (kmroz)
	submit = group user/Karol Mroz (kmroz)
[access "refs/heads/*"]
	read = group user/Karol Mroz (kmroz)
	create = group user/Karol Mroz (kmroz)
	push = +force group user/Karol Mroz (kmroz)
	pushMerge = group user/Karol Mroz (kmroz)
[access "refs/tags/*"]
	push = +force group user/Karol Mroz (kmroz)
	pushTag = group user/Karol Mroz (kmroz)
	pushSignedTag = group user/Karol Mroz (kmroz)
